button {
  border: none;
  width: 40%;
  height: 40px;
  align-self: center;
  border-radius: 4px;
  background-color: #439e43;
  color: white;
  font-weight: 900;
}

  button:hover {
    background-color: #3a8a3a;
  }

.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-flow: column wrap;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.tag {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  font-size: 10px;
  margin: 0 5px;
}

.description {
  margin: 15px 0;
}

.id {
  background-color: #2468f0;
  margin-left: 0;
}

.dd {
  background-color: #c85050;
}

.stat {
  background-color: #439e43;
  /* background-color: #9e9243; */
}

.edit-container {
  margin: 15px 0;
  display: flex;
  flex-flow: column wrap;
}

label {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
}

span {
  font-weight: 600;
}

textarea {
  width: 100%;
  height: 75px;
  margin-top: 10px;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

label#status {
  margin-top: 15px;
  justify-content: flex-start;
}

.overlay {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  padding: 20px;
  border-radius: 4px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000005a;
  z-index: 100;
  cursor: pointer;
  transition-duration: 1s;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nameclose {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

 .nameclose h2 {
    margin: 0 0 10px 0;
  }



