<div class="kop">
  <h1>{{title}}</h1>
  <button class="addemployeebutton" (click)="addEmployee()">
    Add Employee <fa-icon icon="plus"></fa-icon>
  </button>
</div>

<!-- the search bar -->
<div class="search">
  <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search employee by first name" />
  <button class="clearsearchbtn" *ngIf="searchBox.value.length>0" aria-label="Clear"
          (click)='searchBox.value = null; clearSearch()'>
    Clear <fa-icon icon="undo" class='icon'></fa-icon>
  </button>
</div>

<!--
  shows message when there are no matches found

  Explanation (matchedTasks$ | async)?.length :
  this expression gets the number of items in the matchedTasks observable

  * matchedTasks$ => the dollar sign ($) indicates that matchedTasks is an observable array
  * async => the async pipe is needed because *ngFor cannot do anything with a observable itself, async subscribes to the matchedTask observable
  * ? => the question mark (?) is required because the matchedTasks observable is only initiated after Angular renders the view the first time. The question mark prevents the remainder of the expression (everything on the right) to be evaluated until the left part becomes true/not null. (link: https://stackoverflow.com/a/38057574 comment 4)
-->

<p *ngIf="(matchedEmployees$ | async)?.length == 0 && searchBox.value.length > 0" class="searchErrortxt">
  No employees found that matches the entered value: '{{searchBox.value}}'.
</p>

<!-- shows the matching results -->
<ul *ngIf="(matchedEmployees$ | async)?.length >= 0">
  <li *ngFor="let employee of matchedEmployees$ | async">
    {{employee.first_name}}
    <div class="buttons">
      <button (click)="View(employee)">
        <fa-icon icon="eye" style="color: #2468f0;"></fa-icon>
      </button>
      <button (click)="Edit(employee)">
        <fa-icon icon="edit" style="color: #e6a845;"></fa-icon>
      </button>
      <button (click)="Delete(employee)">
        <fa-icon icon="trash-alt" style="color: #ca2f2f;"></fa-icon>
      </button>
    </div>
  </li>
</ul>

<!-- show all the employees when the search bar is empty or there are no matching results in the search  -->
<ul *ngIf="(matchedEmployees$ | async)?.length == 0 || searchBox.value.length <= 0">
  <li *ngFor="let employee of employees">
    {{employee.first_name}}
    <div class="buttons">
      <button (click)="View(employee)">
        <fa-icon icon="eye" style="color: #2468f0;"></fa-icon>
      </button>
      <button (click)="Edit(employee)">
        <fa-icon icon="edit" style="color: #e6a845;"></fa-icon>
      </button>
      <button (click)="Delete(employee)">
        <fa-icon icon="trash-alt" style="color: #ca2f2f;"></fa-icon>
      </button>
    </div>
  </li>
</ul>

<app-employee-add [addnewemployee]="addnewemployee" (closeOverlay)="closeOverlay()"></app-employee-add>
<app-employee-detail [employee]="selectedEmployee" [edit]='edit' (closeOverlay)="closeOverlay()"></app-employee-detail>
