<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Dashboard</a>
  <a class="navbar-brand" href="/calendar">Calendar</a>
  <a class="navbar-brand" routerLink="/departments">Departments</a>
  <a class="navbar-brand" routerLink="/tasks">Tasks</a>
  <a class="navbar-brand" routerLink="/employees">Employees</a>
</nav>
<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">


</nav>
<router-outlet></router-outlet> -->


<!-- <app-tasks></app-tasks>
  <app-employees></app-employees> -->
