<div *ngIf='addnewtask' id='overlay' style="display: inline;"></div>
<div *ngIf="addnewtask" class='overlay'>

  <form [formGroup]="addTaskForm">

    <div class="nameclose">
      <h2>Add Task</h2>
      <button class="cancelbutton" (click)="close();">Cancel <fa-icon icon="times" class='icon'>
        </fa-icon>
      </button>
    </div>
    <hr>

    <!-- name -->
    <mat-form-field>
      <mat-label>Enter a task name *</mat-label>
      <input matInput formControlName="name">
      <!-- name validation-->
      <mat-error *ngIf="name.invalid && name.touched">
        Please provide a task name
      </mat-error>
    </mat-form-field>

    <!-- due date -->
    <mat-form-field>
      <mat-label>Select a due date *</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="duedate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>

      <!-- date validation-->
      <mat-error *ngIf="duedate.invalid && duedate.touched">
        Please select a (valid) due date
      </mat-error>
    </mat-form-field>

    <!-- department -->
    <mat-form-field>
      <mat-label>Select a department *</mat-label>
      <mat-select formControlName="department">
        <!-- <mat-option>None</mat-option> -->
        <mat-option *ngFor="let dept of depts" [value]="dept.id">{{dept.name}}
        </mat-option>
      </mat-select>
      <!-- department validation-->
      <mat-error *ngIf="department.invalid && department.touched">
        Please select a department
      </mat-error>
    </mat-form-field>

    <!-- employees -->
    <div *ngIf="addTaskForm.value['department']">
      <mat-label>Employees *</mat-label>
      <div *ngFor="let emp of getEmployeesByDept(addTaskForm.value['department']); let i=index">
        <input type="checkbox" [value]="emp.id" (change)="onCheckboxChange($event)" />
        {{emp.first_name}} {{emp.last_name}}
      </div>
      <!-- employee validation error-->
      <mat-error *ngIf="!empSelected" style="font-size: 12px;">
        Please select one or more employees
      </mat-error>
    </div>


    <!-- description -->
    <mat-form-field>
      <mat-label>Enter a task description *</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <!-- description validation-->
      <mat-error *ngIf="description.invalid && description.touched">
        Please provide a task description
      </mat-error>
    </mat-form-field>

    <!-- button -->
    <button class="addtaskbutton" [disabled]="addTaskForm.invalid || !empSelected" (click)="AddTask()"
      [formGroup]="addTaskForm" type="button">Add task</button>
  </form>
</div>
